torch
torchaudio
torchvision # apparently pytorch_lightning needs this (pyannote dependency)
transformers
accelerate
datasets
pyannote.audio
nltk
jiwer
soundfile
whisperx
pyriksdagen
tqdm
rapidfuzz
ctc_segmentation